@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background-color: lightblue;
}
body p{
  font-size: 30px;
  font-family: fantasy;
}

body ol{
  font-size: 30px;
  font-family: fantasy;
}

body li{
  font-size: 30px;
  font-family: fantasy;
}
