body {
  background-color: lightblue;
}
body p{
  font-size: 30px;
  font-family: fantasy;
}
body p2{
  font-size: 30px;
  font-family: fantasy;
}
body p3{
  font-size: 30px;
  font-family: fantasy;
}
